@page
@model cSharp_Backend.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<hr />
<p>This site was created to demonstrate how .NET ASAP works and to teach Mark how C# can be used as a backend.</p>
<p>The current time is @DateTime.Now</p>